%h1= t("home.styleguide.title")

%section#colors
  %h2= t("home.styleguide.swatches")

  #swatches
    .swatch.colors.action
      = t("home.styleguide.swatch.action")
    .swatch.colors.work
      = t("home.styleguide.swatch.work")
    .swatch.colors.work-completed
      = t("home.styleguide.swatch.work-completed")
%section#icons
  %h2= t(".icons.title")
  %ul
    %li= t(".icons.ready_html", { icon: t("icons.ready_html") })
    %li= t(".icons.action_html", { icon: t("icons.arrow_html") })
    %li= t(".icons.completed_html", { icon: t("icons.completed_html") })
    %li= t(".icons.delete_html", { icon: t("icons.delete_html") })

