%h1= t(".title")

%p= link_to(t(".add-one_html", { icon: t("icons.arrow_html") }), new_mission_path)

%ul
  - @missions.each do |mission|
    %li
      = link_to(mission.name, mission_path(mission))
      .subnote= mission.description

= render({ partial: "/shared/pagination", locals: { links: @links } })
